# Supabase – Claro projekt
# Ezek publikus (anon) kulcsok, a védelem RLS-sel történik.
NEXT_PUBLIC_SUPABASE_URL=https://vaugvocquojsbdpstnxd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZhdWd2b2NxdW9qc2JkcHN0bnhkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgyNjAyMTcsImV4cCI6MjEwMzgzNjIxN30.8IMxInB1DTCmrF6XdniidzxxjsVcNx_wwyfPG9OEKJ4
