# dependencies
/node_modules

# next.js
/.next/
/out/

# misc
.DS_Store
*.pem
npm-debug.log*

# env files (a .env.example marad a repóban)
.env
.env.local
.env.*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# playwright screenshots
/screenshots/
